<?xml version="1.0"?>
<config>
    <modules>
        <Pektsekye_OptionDependent>
            <version>0.2.0</version>
        </Pektsekye_OptionDependent>
    </modules>
    <adminhtml>
		<layout>
			<updates>
				<optiondependent>
					<file>optiondependent.xml</file>
				</optiondependent>
			</updates>
		</layout>
        <events>
            <model_save_after>
                <observers>
                    <optiondependent>
                        <type>singleton</type>
                        <class>optiondependent/observer</class>
                        <method>optionSaveAfter</method>
                    </optiondependent>
                </observers>
            </model_save_after>
            <catalog_product_save_after>
                <observers>
                    <optiondependent>
                        <type>singleton</type>
                        <class>optiondependent/observer</class>
                        <method>productSaveAfter</method>
                    </optiondependent>
                </observers>
            </catalog_product_save_after>		
            <sales_quote_item_set_product>
                <observers>
                    <optiondependent>
                        <class>optiondependent/observer</class>
                        <method>setSkipCheckRequired</method>
                    </optiondependent>
                </observers>
            </sales_quote_item_set_product>
            <sales_quote_item_collection_products_after_load>
                <observers>
                    <optiondependent>
                        <class>optiondependent/observer</class>
                        <method>setSkipCheckRequiredToCollection</method>
                    </optiondependent>
                </observers>
            </sales_quote_item_collection_products_after_load>               
        </events>
		<translate>
            <modules>
                <Pektsekye_OptionDependent>
                     <files>
                          <default>Pektsekye_OptionDependent.csv</default>
                     </files>
                </Pektsekye_OptionDependent>
            </modules>
        </translate>			  
    </adminhtml>  
	 
    <frontend>	
        <layout>
            <updates>
                <optiondependent>
                    <file>optiondependent.xml</file>
                </optiondependent>
            </updates>
        </layout>
        <events>		  
            <sales_quote_item_set_product>
                <observers>
                    <optiondependent>
                        <class>optiondependent/observer</class>
                        <method>setSkipCheckRequired</method>
                    </optiondependent>
                </observers>
            </sales_quote_item_set_product>
        </events>	  
    </frontend>	
	 
    <global>
        <models>
			<sales>
				<rewrite> 			
					<quote>Pektsekye_OptionDependent_Model_Quote</quote> 					
				</rewrite> 			
			</sales> 			
			<catalog_resource_eav_mysql4>
				<rewrite> 
					<product_option>Pektsekye_OptionDependent_Model_Resource_Eav_Mysql4_Product_Option</product_option> 					
				</rewrite> 			
			</catalog_resource_eav_mysql4> 	
            <optiondependent>
                <class>Pektsekye_OptionDependent_Model</class>
                <resourceModel>optiondependent_mysql4</resourceModel>
            </optiondependent>			
            <optiondependent_mysql4>
                <class>Pektsekye_OptionDependent_Model_Mysql4</class>
                <entities>
                    <option>
                        <table>optiondependent_option</table>
                    </option>					 
                    <value>
                        <table>optiondependent_value</table>
                    </value>
                    <import>
                        <table>optiondependent_import</table>
                    </import>						  
                </entities>
            </optiondependent_mysql4>		
        </models>
        <resources>
            <optiondependent_setup>
                <setup>
                    <module>Pektsekye_OptionDependent</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </optiondependent_setup>
            <optiondependent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </optiondependent_write>
            <optiondependent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </optiondependent_read>
        </resources>
        <blocks>
            <optiondependent>
                <class>Pektsekye_OptionDependent_Block</class>
            </optiondependent>				
        </blocks>	
        <helpers>
            <optiondependent>
                <class>Pektsekye_OptionDependent_Helper</class>
            </optiondependent>
        </helpers>		
    </global>
</config>